.form-cont {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .error {
    color: red;
    padding-left: 1rem;
  }

  .error li{
    padding-left: 1rem;
    list-style: none;
  }