.primary-cont{
    width: 100vw;
    /* background-color: black; */
    position: relative;
    top: 1rem;
    display: flex;
    gap: 5rem;
    flex-direction: column;
    
}

.add-cont{
 margin-left: 4rem;
}

